// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'custom';

@import "~lightbox2/dist/css/lightbox.css";

//Font-Awesome
@import "~@fortawesome/fontawesome-free/css/all.css";
